BOOKING_USERNAME=usuario_booking
BOOKING_PASSWORD=senha_booking
OPERA_USERNAME=usuario_opera
OPERA_PASSWORD=senha_opera
OPERA_HOTEL=nome_exato_do_hotel
BOOKING_HEADLESS=false
BOOKING_OUTPUT_DIR=output
